[defaults]
#interpreter_python=/usr/bin/python3
inventory = ./hosts-homelab.yaml
roles_path = ./roles
stdout_callback = yaml
stderr_callback = yaml
remote_user = artur
### test for semaphore
host_key_checking = False

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False
