[defaults]
#interpreter_python=/usr/bin/python3
# inventory задаётся через Makefile или ключ -i
# По умолчанию используется hosts-homelab.yaml для разработки
inventory = ./hosts-homelab.yaml
roles_path = ./roles
stdout_callback = default
stderr_callback = default
remote_user = artur
host_key_checking = False

[callback_default]
result_format = yaml

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False
