# Шаблон environment-файла для systemd unit etcd
# Автоматически генерируется Ansible — не редактировать вручную
ETCD_NAME={{ etcd_short_name }}
THIS_IP={{ ansible_host }}
ETCD_IMAGE={{ etcd_resolved_image }}
ETCD_INITIAL_CLUSTER={% for host in groups['etcd_nodes'] %}{{ hostvars[host].etcd_short_name }}=https://{{ hostvars[host].ansible_host }}:2380{% if not loop.last %},{% endif %}{% endfor %}{{ '\n' }}
ETCD_INITIAL_CLUSTER_TOKEN={{ etcd_initial_cluster_token }}
ETCD_INITIAL_CLUSTER_STATE={{ etcd_initial_cluster_state }}
METRICS_URL={{ etcd_metrics_url }}
