[req]
distinguished_name = req_distinguished_name
req_extensions = v3_req
prompt = no

[req_distinguished_name]
CN = {{ etcd_node_fqdn }}

[v3_req]
keyUsage = keyEncipherment, dataEncipherment, digitalSignature
extendedKeyUsage = serverAuth, clientAuth
subjectAltName = @alt_names

[alt_names]
DNS.1 = {{ etcd_node_fqdn }}
DNS.2 = {{ etcd_short_name }}
IP.1   = {{ ansible_host }}
IP.2   = 127.0.0.1
