---
- name: Check if master already init
  stat:
    path: "/var/lib/rancher/k3s/server/node-token"
  register: is_k3s_token

- when: not is_k3s_token.stat.exists
  block:
  
  - name: init master node
    shell: >
      INSTALL_K3S_SKIP_DOWNLOAD=true K3S_KUBECONFIG_MODE="644" 
      /root/install.sh 
      --cluster-cidr "10.223.0.0/18"  
      --service-cidr "10.224.0.0/18" 
      --cluster-dns "10.223.0.10"

  - name: Make aliases
    lineinfile:
      dest: "~/.bashrc"
      line: 'alias {{ item.alias }}="{{ item.command }}"'
      regexp: "^alias {{ item.alias }}="
    with_items:
      - alias: k
        command: k3s kubectl
      - alias: kubectl
        command: k3s kubectl

  - name: Make k8s helper
    lineinfile:
      dest: "~/.bashrc"
      line: 'source <(kubectl completion bash)'
      regexp: "kubectl completion bash"

- name: Save join_token
  shell: cat /var/lib/rancher/k3s/server/node-token
  register: join_token
