{% if cri = "containerd" %}
runtime-endpoint: "unix:///var/run/containerd/containerd.sock"
image-endpoint: "unix:///var/run/containerd/containerd.sock"
{% elif cri = "crio" %}
runtime-endpoint: "unix:///var/run/crio/crio.sock"
image-endpoint: "unix:///var/run/crio/crio.sock"
{% endif %}
timeout: 0
debug: false
pull-image-on-create: false
disable-pull-on-run: false
