---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: gateway
  namespace: envoy-gateway-system
spec:
  secretName: gateway-tls
  duration: 9125h  # 1 год
  renewBefore: 360h  # 15 дней
  subject:
    organizations:
      - home dev lab
  isCA: false
  privateKey:
    algorithm: RSA
    encoding: PKCS8
    size: 4096
    rotationPolicy: Always
  usages:
    - server auth
    - client auth
  dnsNames:
    - "*.{{ envoyGatewayDomain }}"
    - "{{ envoyGatewayDomain }}"
  ipAddresses:
    - {{ envoyGatewayLoadBalancerIP }}
  issuerRef:
    name: dev-ca-issuer
    kind: ClusterIssuer
    group: cert-manager.io
