---
# Создаётся автоматически при utils_registry.enabled: true
# Secret типа docker-registry для аутентификации в приватном registry.
apiVersion: v1
kind: Secret
metadata:
  name: {{ utils_registry.pull_secret_name }}
  namespace: {{ utils_pull_secret_namespace }}
  labels:
    app.kubernetes.io/managed-by: ansible
    app.kubernetes.io/name: utils-pull-secret
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: {{ utils_pull_secret_dockerconfig | b64encode }}
