---
- name: Prepare to Join
  include_tasks: prepare.yaml
  when: inventory_hostname == groups['k8s_masters'][0]
  run_once: yes


- name: Join another control nodes
  include_tasks: join.yaml
  when: inventory_hostname != groups['k8s_masters'][0]
